@{
    ViewData["Title"] = "Home Page";
}

@model BowlingViewModel

<h1>Bowlers</h1>
<table class="table table-sm table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Init</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone Number</th>
            <th>Team Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Bowler b in Model.Bowlers)
        {
        <tr>
            <td>@b.BowlerFirstName</td>
            <td>@b.BowlerMiddleInit</td>
            <td>@b.BowlerLastName</td>
            <td>@b.BowlerAddress</td>
            <td>@b.BowlerCity</td>
            <td>@b.BowlerState</td>
            <td>@b.BowlerZip</td>
            <td>@b.BowlerPhoneNumber</td>
            <td>@b.Team.TeamName</td>
            <td><a class="btn btn-warning" asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a></td>
            <td>
                <form method="post" asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">
                    <input class="btn btn-danger" type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        }
    </tbody>


</table>